ion-list ion-item ion-thumbnail ion-img,
ion-list ion-item ion-thumbnail img {
    width: 70% !important;
    height: auto !important;
}

ion-header ion-toolbar ion-thumbnail img {
    width: 100% !important;
    height: auto !important;
}