ion-item-group ion-item-divider ion-thumbnail ion-img,
ion-item-group ion-item-divider ion-thumbnail img {
    width: 75% !important;
    height: auto !important;
}

ion-header ion-toolbar ion-thumbnail img {
    width: 75% !important;
    height: auto !important;
}